*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav_bar{
    background-color:#131921;
    height: 60px;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
}

/* LOGO */

.nav_logo{
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background-image:url(/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 110px;
}

/* BORDER EFFECT */

.border{
    border: 1px solid transparent;
    padding: 5px;
}

.border:hover{
    border: 1px solid white;
}

/* ADDRESS */

.add_icon{
    align-items: center;
    display: flex;
}

.first{
    color:white;
    font-size: 12px;
}

.second{
    font-size: 16px;
    font-weight: 700;
    margin-left: 4px;
}

/*SEARCH BAR*/
.nav_search{
    display: flex;
    align-items: center;
    max-width: 700px;
    height: 40px;
    margin: 0 15px ;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid transparent;
}

.nav_search:hover{
    border: 2px solid #F3B276;
}

.nav_all{
    background:#E6E6E6;
    width: 55px;
    text-align: center;
    border:none;
}

.search_bar{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 12px;
    font-size: 18px;
}

.search_icon{
    width: 45px;
    background:#FEBD69 ;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
}



/* LANGUAGE */

.lan{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.flag{
    width: 22px;
    height: 16px;
}

/* SIGN IN*/

.line1{
    font-size: 12px;
}

.line2{
    font-size: 15px;
    font-weight: bold;
}

/* RETURNS */

.nav_returns .line2{
    font-size: 15px
}

/* CART */

.nav_cart{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
}

.nav_cart i{
    font-size: 30px;
}

